@media (min-width: 3000px) {
    .main-grid {
        padding: 15px;
        height: 100vh;
        grid-template-columns: 15% auto auto 15%; }   

    header {
    	display: flex;
    	justify-content: center;
    	align-items: center; }

    .news{ padding: 35px 30px; }
    .news .news-header {
    	font-size: 1.2rem;
    	margin-bottom: 40px; }
    .news .news-header h2 { font-size: 1.2rem; }

    .news-item-container {
    	display: flex;
    	justify-content: center;
    	margin: 30px auto 5px; }
    .news-item-container .news-item { 
        padding: 0 20px;
        margin-bottom: 30px; }
    .news-item-container .news-item img {
    	max-width: 300px;
    	margin: 0 auto 10px; }
    .news-item-container .news-item h1 {
    	font-size: 1.2rem;
    	width: 180px; }
    .news-item-container .news-item h3 { font-size: 1.2rem; }

    .headlines-container .headlines-item {  margin-bottom: 20px; }
    .headlines-container .headlines-item h2,
    .headlines-container .headlines-item h3 { font-size: 1.2rem; }

    .app-container {  padding: 20px 30% 20px 20px; }
    .app-container:before { font-size: 4rem;}
    .app-container h1 { 
        font-size: 1.2rem;
        margin-bottom: 30px;
        padding: 10px 0 0 20px; }
    .app-container h1 span { color: #ff9502;  }

    .app-container .app-items {
    	font-size: 1.5rem;
    	padding-left: 80px;
    	margin-bottom: 30px; }
    .app-container .app-items:before {
    	font-size: 0.8rem;
    	width: 30px;
    	height: 30px;
    	left: 23px;
    	top: 8px; }

    .manual-header {
		padding: 30px;
		margin-bottom: 25px; }
	.manual-header .sort-title,
	.manual-header .sort-button { font-size: 1.2rem; }
    .light .manual-header .sort-button { color: #000; }
    
    .manual-pdf .pdf { margin-bottom: 30px; }
    .manual-pdf .pdf img { width: 200px; }
    .manual-pdf .pdf span { font-size: 1rem; }

    .social-header h2 {
    	font-size: 1.5rem;
    	margin: 30px 0 10px; }
    .social-header p {
    	font-size: 1.2rem;
    	padding: 0 20px; }

    .light-mode { padding: 20px; }
	.light-mode .label {
		width: 140px; }
	.light-mode .ball { left: 8px; }
    .light-mode .checkbox:checked + .label .ball {  transform: translateX(110px); }

    .statistic .nightmode { height: 80px; }

    .countries { padding: 20px; }
	.countries-title { font-size: 1.2rem; }
	.countries-container { margin-bottom: 40px }
	.countries-container .country { padding-left: 50px; }
	.countries-container .country h2 { font-size: 1.2rem; }
	.countries-container .country p {
		font-size: 1.2rem;
		max-width: 85%; }

	.countries-container .country p span.cases,
	.countries-container .stats p.cases { color:#a57af2; }
	.countries-container .country p span.deaths,
	.countries-container .stats p.deaths { color:#ea536f; }

	.full-country-container { margin: 5px 0 20px; }
	.full-country-container .country li .stat { font-size: 0.8rem; }
	.full-country-container .country .name,
	.full-country-container .country li .subtitle { font-size: 0.6rem; }
}