@media (min-width: 1200px) {
    .mobile { display: none; }
    .desktop { display: block; }
    	
    .main-grid {
        padding: 8px;
        height: calc(100vh - 20px);
        margin: 0;
        gap: 0.5rem;
        display: grid;        
        grid-template-areas: "logo   main main number"
                             "news   main main number"
                             "advice main main number"
                             "app    main main number"
                             "manual main main country"
                             "social main main country";
        grid-template-columns: 15% auto auto 15%;

        --stagger-delay: 200ms; }

    @keyframes cardEntrance {
        from {
            opacity: 0;
            transform: scale(0.3);
            filter: hue-rotate(180deg);
        }
        to {
            opacity: 1;
            transform: scale(1);
            filter: hue-rotate(0deg);
        }
    }

    .card {
        animation: cardEntrance 700ms ease-out;
        animation-fill-mode: backwards;
        background: #262439;
        border-radius: 8px; }

    header {
    	grid-area: logo;
		width: 100%;
		margin: 10px 0;
		animation: cardEntrance 700ms ease-out;
        animation-fill-mode: backwards; }
	.logo-header { margin-left: 10px; }
	.logo-header img {
		max-width: 90%;
		height: auto;
		margin: 0 auto; }

    .news{ padding: 5px 10px; }
    .news .news-header {
    	display: inline-flex;
    	font-size: 0.5rem;
    	justify-content: space-between;
    	width: 100%;
    	align-items: baseline; }
    .news .news-header h2 {
    	font-size: 0.6rem;
    	color: #ccc; }
    .news .news-header h2 span { color: #ff9502; }

    .news-item-container {
    	display: flex;
    	margin: 20px auto 5px; }
    .news-item-container .news-item { padding: 4px; }
    .news-item-container .news-item img {
    	width: 100%;
    	max-width: 120px;
    	height: auto; }
    .news-item-container .news-item h1 {
    	font-size: 0.7rem;
    	color: #ccc;
    	line-height: 1.4;
    	transition: .5s ease; }
    .news-item-container .news-item h3 {
    	font-size: 0.58rem;
    	color: #ccc;
    	margin-top: 4px;
    	transition: .5s ease; }
    .news-item-container .news-item a:hover h1,
    .news-item-container .news-item a:hover h3 { color:#ff9502; }

    .headlines-container { margin-top: 20px; } 
    .headlines-container .headlines-item { margin-bottom: 10px; }
    .headlines-container .headlines-item h2 {
    	font-size: 0.5rem;
    	line-height: 1.6;
    	transition: .5s ease; }
    .headlines-container .headlines-item a { color: #ccc; }
    .headlines-container .headlines-item a:hover h2 { color:#ff9502; }
    .headlines-container .headlines-item h3 {
    	font-size: 0.5rem;
    	color: #ff9502; }

    .advice { 
        background: #e85338;
        display: flex;
        justify-content: space-between;
        padding: 5px; }
    .advice-container {
    	display: flex;
    	flex-direction: column;
    	padding-left: 55px;
    	justify-content: center;
        height: 100%;
        position:relative;
        line-height: 1.3; }
    .advice-container:before {
    	font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f071";
		position: absolute;
		left: 15px;
		color: #ffcc33;
		font-size: 1.5rem; }
    .advice-container h2 { font-size: 0.9rem; }
    .advice-container p { font-size: 0.7rem; }
    .advice-container p span { font-size: 0.6rem; }

    .advice-button {
    	display: block;
    	width: 40px;
    	border-left: 2px solid #fff;
    	margin: 8px 0; }
    .advice-button a.sort-button {
    	display: flex;
    	justify-content: center;
    	align-items:center;
    	height: calc(100% - 8px);
    	color: #fff;
    	transition: .4s ease-in-out; }
    .advice-button a.sort-button:hover { margin-top: 5px; }

    .app-container { 
        padding-right: 100px;
        position: relative; }
    .app-container:before {
    	font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f3cd";
		position: absolute;
		right: 35px;
		top: 50%;
		margin-top: -8px;
		font-size: 2.5rem;
		color: #ff9502; }
    .app-container h1 { 
        font-size: 0.75rem;
        margin-bottom: 15px;
        padding: 10px 0 0 20px; }
    .app-container h1 span { color: #ff9502;  }

    .app-container .app-items {
    	font-size: 0.6rem;
    	line-height: 1.5;
    	padding-left: 50px;
    	margin-bottom: 10px; 
    	display: flex;
    	flex-direction: column;
    	position: relative; }
    .app-container .app-items span { margin-top: 5px; }
    .app-container .app-items:before {
    	font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f00c";
    	position: absolute;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	font-size: 0.5rem;
    	width: 15px;
    	height: 15px;
    	border-radius: 50%;
    	background: #71cf4e;
    	left: 23px;
    	top: 5px; }
    .app-container .app-items:last-child:before { background: #ff9502; }

    .manual-header {
		font-family: "SF Compact Display Thin";
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		line-height: 1.5;
		padding: 10px;
		text-transform: capitalize; }
	.manual-header .sort-title { font-size: 0.8rem; }
	.manual-header .sort-button {
		background-color: transparent;
		border: none;
		color: #fff;
		text-decoration: none;
		font-size: 0.8rem;
		font-family: "SF Compact Display Thin"; }
	.manual-header .sort-button i {
		font-size: 0.8em;
		padding-left: 10px; }
    
    .manual-pdf {
    	display: flex;
    	flex-wrap: wrap;
    	width: 100%;
    	justify-content: space-around; }
    .manual-pdf .pdf {
    	display: flex;
    	flex-direction: column;
    	margin-bottom: 10px; }
    .manual-pdf .pdf img {
    	width: 80px;
    	height: auto; }
    .manual-pdf .pdf span { 
        font-size: 0.6rem;
        line-height: 2; }

    .social { padding: 10px; }
    .social-header h2 {
    	font-size: 1.4rem;
    	text-align: center;
    	margin: 20px 0 10px;
    	font-family: "SF Compact Display Thin"; }
    .social-header p {
    	font-size: 0.9rem;
    	padding: 0 20px;
    	text-align: center;
    	line-height: 1.5; }

	.social-media ul { 
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 20px 0; }
	.social-media ul li {
		width: 32px;
		height: 32px;
		border-radius: 8px;
		display: flex;
		position: relative;
		transition: all .4s ease-out; }
	.social-media ul li.twitter { border: 1px solid #1da1f2; }
	.social-media ul li.facebook { border: 1px solid #3b5998; }
	.social-media ul li.instagram { border: 1px solid #C13584; }
	.social-media ul li.dribble { border: 1px solid #ea4c89; }
	.social-media ul li.twitter:hover { background: #1da1f2; }
	.social-media ul li.facebook:hover { background: #3b5998; }
	.social-media ul li.instagram:hover { background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }
	.social-media ul li.dribble:hover { background: #ea4c89; }
	.social-media ul li i {
		font-size: 1.2rem;
		width: 32px;
		text-align: center;
		line-height: 1.7;
		color: #fff; }
	.social-media p {
		font-size: 1rem;
        text-align: center; }
        
    .contact ul { 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%; }
    .contact ul li a {
        font-size: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background: #1e1e2d;
        padding: 5px 13px;
        transition: .4s ease-out; }
    .contact ul li a:hover { background:#ff9502; }

    .statistic { background: transparent; }
    .statistic .nightmode {
    	height: 50px;
    	background: #262439;
    	border-radius: 8px;
    	margin-bottom: 0.5rem; }
    .world-cases h1 {
    	font-size: 0.9rem;
    	text-transform: uppercase;
    	padding: 2px 10px;
    	text-align: center;
        background: #fff;
        color: #000;
        border-radius: 8px;
    	margin-bottom: 0.5rem; }

    .card.chartmap { grid-area: main; animation-delay: calc(9 * var(--stagger-delay)); }
    .card.statistic { grid-area: number;  animation-delay: calc(8 * var(--stagger-delay)); }
    .card.countries { grid-area: country; animation-delay: calc(7 * var(--stagger-delay)); }
    .card.social { grid-area: social;  animation-delay: calc(6 * var(--stagger-delay)); }
    .card.manual { grid-area: manual;  animation-delay: calc(5 * var(--stagger-delay)); }
    .card.app { grid-area: app;  animation-delay: calc(4 * var(--stagger-delay)); }
    .card.advice { grid-area: advice;  animation-delay: calc(3 * var(--stagger-delay)); }
    .card.news { grid-area: news;  animation-delay: calc(2 * var(--stagger-delay)); }
    header { grid-area: logo; animation-delay: calc(1 * var(--stagger-delay)); }

    .chartdiv-map {
        width: 100%;
        height: 100%;
        background-color:#262439;
        display: block; }
}