@media (min-width: 1200px) {
    .mobile { display: none; }
    .desktop { display: block; }
    	
    .main-grid {
        padding: 8px;
        height: calc(100vh - 20px);
        margin: 0;
        gap: 0.5rem;
        display: grid;        
        grid-template-areas: "logo   main main number"
                             "news   main main number"
                             "advice main main number"
                             "app    main main country"
                             "manual main main country"
                             "social main main country";
        grid-template-columns: 340px auto auto 340px;

        --stagger-delay: 200ms; }

    @keyframes cardEntrance {
        from {
            opacity: 0;
            transform: scale(0.3);
            filter: hue-rotate(180deg);
        }
        to {
            opacity: 1;
            transform: scale(1);
            filter: hue-rotate(0deg);
        }
    }

    .card {
        animation: cardEntrance 700ms ease-out;
        animation-fill-mode: backwards;
        background: #262439;
        border-radius: 8px; }
    .light .card { background: #ccc; }        

    header {
    	grid-area: logo;
		width: 100%;
		margin: 10px 0;
		animation: cardEntrance 700ms ease-out;
        animation-fill-mode: backwards; }
	.logo-header { margin-left: 10px; }
	.logo-header img {
		max-width: 90%;
		height: auto; }
    .logo-header img.light,
    .light .logo-header img.dark { display: none; } 
    .light .logo-header img.light { display: block; }

    .news{ padding: 5px 10px; }
    .news .news-header {
    	display: inline-flex;
    	font-size: 0.5rem;
    	justify-content: space-between;
    	width: 100%;
    	align-items: baseline; }
    .news .news-header h2 {
    	font-size: 0.6rem;
    	color: #ccc; }
    .light .news .news-header h2 { color: #000; }
    .news .news-header h2 span { color: #ff9502; }

    .news-item-container {
    	display: flex;
    	margin: 20px auto 5px; }
    .news-item-container .news-item { padding: 4px; }
    .news-item-container .news-item img {
    	width: 100%;
    	max-width: 120px;
    	height: auto;
    	margin: 0 auto; }
    .news-item-container .news-item h1 {
    	font-size: 0.7rem;
    	color: #ccc;
    	line-height: 1.4;
    	transition: .5s ease; }
    .news-item-container .news-item h3 {
    	font-size: 0.58rem;
    	color: #ccc;
    	margin-top: 4px;
    	transition: .5s ease; }
    .light .news-item-container .news-item h1,
    .light .news-item-container .news-item h3 { color: #000; }
    .news-item-container .news-item a:hover h1,
    .news-item-container .news-item a:hover h3 { color:#ff9502; }

    .headlines-container { margin-top: 20px; } 
    .headlines-container .headlines-item { margin-bottom: 10px; }
    .headlines-container .headlines-item h2 {
    	font-size: 0.55rem;
    	line-height: 1.6;
    	transition: .5s ease; }
    .headlines-container .headlines-item a { color: #ccc; }
    .light .headlines-container .headlines-item a { color: #000; }
    .headlines-container .headlines-item a:hover h2 { color:#ff9502; }
    .headlines-container .headlines-item h3 {
    	font-size: 0.6rem;
    	color: #ff9502; }

    .advice,
    .light .advice { 
        font-family: "SF Compact Display Light";
        background: #e85338;
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 5px; }
    .advice-container {
    	display: flex;
    	flex-direction: column;
    	padding-left: 55px;
    	justify-content: center;
        height: 100%;
        position:relative;
        line-height: 1.3; }
    .advice-container:before {
    	font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f071";
		position: absolute;
		left: 15px;
		color: #ffcc33;
		font-size: 1.5rem; }
    .advice-container h2 { font-size: 0.9rem; }
    .advice-container p { font-size: 0.7rem; }
    .advice-container p span { font-size: 0.6rem; }

    .advice-button {
    	display: block;
    	width: 40px;
    	border-left: 2px solid #fff;
    	margin: 8px 0; }
    .advice-button a.sort-button {
    	display: flex;
    	justify-content: center;
    	align-items:center;
    	height: calc(100% - 8px);
    	color: #fff;
    	transition: .4s ease-in-out; }
    .advice-button a.sort-button:hover { margin-top: 5px; }

    .app-container { 
        padding-right: 100px;
        position: relative; }
    .app-container:before {
    	font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f3cd";
		position: absolute;
		right: 35px;
		top: 50%;
		margin-top: -8px;
		font-size: 2.5rem;
		color: #ff9502; }
    .app-container h1 { 
        font-size: 0.75rem;
        margin-bottom: 15px;
        padding: 10px 0 0 20px; }
    .app-container h1 span { color: #ff9502;  }

    .app-container .app-items {
    	font-size: 0.6rem;
    	line-height: 1.5;
    	padding-left: 50px;
    	margin-bottom: 10px; 
    	display: flex;
    	flex-direction: column;
    	position: relative; }
    .app-container .app-items span { margin-top: 5px; }
    .app-container .app-items:before {
    	font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f00c";
    	position: absolute;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	font-size: 0.5rem;
    	width: 15px;
    	height: 15px;
    	border-radius: 50%;
    	background: #71cf4e;
    	left: 23px;
    	top: 5px; }
    .app-container .app-items:last-child:before { background: #ff9502; }

    .manual-header {
		font-family: "SF Compact Display Thin";
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		line-height: 1.5;
		padding: 10px;
		text-transform: capitalize;
		margin-bottom: 25px; }
	.manual-header .sort-title { font-size: 0.8rem; }
	.manual-header .sort-button {
		background-color: transparent;
		border: none;
		color: #fff;
		text-decoration: none;
		font-size: 0.8rem;
		font-family: "SF Compact Display Thin"; }
    .light .manual-header .sort-button { color: #000; }
	.manual-header .sort-button i {
		font-size: 0.8em;
		padding-left: 10px; }
    
    .manual-pdf {
    	display: flex;
    	flex-wrap: wrap;
    	width: 90%;
    	margin: 0 auto;
    	justify-content: space-around; }
    .manual-pdf .pdf {
    	display: flex;
    	flex-direction: column;
    	margin-bottom: 10px; }
    .manual-pdf .pdf img {
    	width: 90px;
    	height: auto; }
    .manual-pdf .pdf span { 
        font-size: 0.6rem;
        line-height: 2; }

    .social { padding: 10px; }
    .social-header h2 {
    	font-size: 1.4rem;
    	text-align: center;
    	margin: 60px 0 10px;
    	font-family: "SF Compact Display Thin"; }
    .social-header p {
    	font-size: 0.9rem;
    	padding: 0 20px;
    	text-align: center;
    	line-height: 1.5; }

	.social-media { margin: 30px 0; }
	.social-media ul { 
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 20px 0; }
	.social-media ul li {
		width: 32px;
		height: 32px;
		border-radius: 8px;
		display: flex;
		position: relative;
		transition: all .4s ease-out; }
	.social-media ul li.twitter { border: 1px solid #1da1f2; }
	.social-media ul li.facebook { border: 1px solid #3b5998; }
	.social-media ul li.instagram { border: 1px solid #C13584; }
	.social-media ul li.dribble { border: 1px solid #ea4c89; }
	.social-media ul li.twitter:hover { background: #1da1f2; }
	.social-media ul li.facebook:hover { background: #3b5998; }
	.social-media ul li.instagram:hover { background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }
	.social-media ul li.dribble:hover { background: #ea4c89; }
	.social-media ul li i {
		font-size: 1.2rem;
		width: 32px;
		text-align: center;
		line-height: 1.7;
		color: #fff; }
    .light .social-media ul li i { color: #000; }
    .light .social-media ul li i:hover { color: #fff; }
	.social-media p {
		font-size: 1rem;
        text-align: center; }
        
    .contact ul { 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%; }
    .contact ul li a {
        font-size: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background: #1e1e2d;
        padding: 5px 13px;
        transition: .4s ease-out; }
    .contact ul li a:hover { background:#ff9502; }

    .light-mode {
		display: block;
		padding: 6px 15px;
		box-sizing: border-box; }
	.light-mode .ball {
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 5px;
		left: 5px;
		height: 24px;
		width: 22px;
		transition: transform .2s linear; }
    .light-mode .checkbox:checked + .label { background: #fff; }
	.light-mode .checkbox:checked + .label .ball { 
		transform: translateX(78px);
		background: #111; }

    .statistic,
    .countries,
    .light .statistic,
    .light .countries { background: transparent; }
    .statistic .nightmode {
    	height: 50px;
    	background: #262439;
    	border-radius: 8px;
    	margin-bottom: 0.5rem; }
    .light .statistic .nightmode {background: #ccc; }

    .world-cases h1,
    .us-cases h1,
    .japan-cases h1 {
    	font-size: 0.9rem;
    	text-transform: uppercase;
    	padding: 2px 10px;
    	text-align: center;
        background: #fff;
        color: #000;
        border-radius: 8px;
    	margin: 0.5rem 0; }
    .light .world-cases h1,
    .light .us-cases h1,
    .light .japan-cases h1 { 
        background: #ccc; }

	.stc-card-container {
		display: grid;
		gap: 10px;
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); }
	.stc-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px 15px 5px;
		background: #262439; }
    .light .stc-card { background: #ccc; }
	.stc-card .stc-card-num {
		font-size: 1.3rem;
		margin-bottom: 3px;
		font-family: "SF Compact Display Semibold"; }
	.stc-card.stc-infect .stc-card-num { color: #a57af2; }
	.stc-card.stc-death .stc-card-num { color: #ea536f; }
	.stc-card.stc-recover .stc-card-num { color: #7fcc88; }
	.stc-card.stc-critical .stc-card-num { color: #f6ca4f; }
	.stc-card .stc-card-title {
		text-transform: uppercase;
		font-size: 0.95rem;
		margin-bottom: 10px;
		font-family: "SF Compact Display Semibold"; }

    .us-sort,
    .japan-sort,
    .country-sort {
		font-family: "SF Compact Display Thin";
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		line-height: 1.5;
		padding: 10px 15px;
		margin: 0.5em 0;
		border-radius: 8px; }
    .us-sort { background: #2e338d; }
    .japan-sort { background: #578bc6;  }
    .country-sort { background: #27293c;  }
	.us-sort .sort-title,
	.japan-sort .sort-title,
	.country-sort .sort-title { 
	    color: #fff;
	    font-size: 0.95rem; }
	.us-sort .sort-button,
	.japan-sort .sort-button,
	.country-sort .sort-button {
		background-color: transparent;
		border: none;
		color: #fff;
		text-decoration: none;
		font-size: 0.95rem;
		font-family: "SF Compact Display Thin"; }
	.us-sort .sort-button i,
	.japan-sort .sort-button i,
	.country-sort .sort-button i {
		font-size: 0.8em;
		padding-left: 10px; }

    .statistic .update { 
        font-size: 0.65em;
        text-align: center;
        padding: 5px;
        background: #27293c;
        line-height: 1;
        border-radius: 8px; }
    .light .statistic .update { color: #fff; }

    .countries { padding: 10px; }
    .countries-title,
	.countries-container {
		display: flex;
		justify-content: space-between;
		width: 100%; }
	.countries-title {
		font-size: 0.6rem;
		font-family: "SF Compact Display Thin";
		margin-bottom: 25px;
		color: #bbb; }
    .light .countries-title { color: #000; }
	.countries-container { margin-bottom: 25px }
	.countries-container .country {
		text-align: left;
		padding-left: 50px;
		position: relative; }
	.countries-container .country h2 {
		font-size: 1.1rem;
		font-family: "SF Compact Display Light";
		padding-left: 5px;
		margin-bottom: 2px; }
	.countries-container .country p {
		font-size: 0.95rem;
		font-family: "SF Compact Display Medium";
		max-width: 110px; }

	.countries-container .country p span.cases,
	.countries-container .stats p.cases { color:#a57af2; }
	.countries-container .country p span.deaths,
	.countries-container .stats p.deaths { color:#ea536f; }

	.countries-container .stats {
		font-family: "SF Compact Display Medium";
		text-align: right;
		line-height: 1.5;
		font-size: 0.9rem;
		display: flex;
		flex-direction: column;
		justify-content: center; }
	.countries-container .stats span.percent { 
		padding-left: 8px;
		color: #73cc88; }
	.countries-container .stats span.percent i { 
		font-size: 0.7em;
		margin-right: 4px;
		position:relative;
		top: -1px }
	.countries-container .stats span.percent i.icon-up { color: #73cc88; }
	.countries-container .stats span.percent i.icon-down { color: #ea536f; }

	.full-country-container {
		width: 100%;
		margin: -5px 0 20px; }
	.full-country-container .country {
		background: #27293c;
		border-radius: 5px;
		display: grid;
		padding: 10px;
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
		gap: 0.5rem; }
    .light .full-country-container .country { background: #ccc; }
	.full-country-container .country li {
		display: flex;
		flex-direction: column;
		text-align: center; }
	.full-country-container .country li .stat {
		font-family: "SF Compact Display Medium";
		font-size: 0.65rem;
		margin-bottom: 5px;
		letter-spacing: 1px; }
	.full-country-container .country .name { 
		padding-top: 17px;
		position: relative; }
	.full-country-container .country .name,
	.full-country-container .country li .subtitle {
		color: #bbb;
		font-size: 0.48rem;
		text-transform: capitalize; }
    .light .full-country-container .country .name,
	.light .full-country-container .country li .subtitle { color: #000; }
	.full-country-container .country li.total .stat {color:#a57af2;}
	.full-country-container .country li.deaths .stat {color: #ea536f;}
	.full-country-container .country li.active .stat {color: #7fcc88;}
	.full-country-container .country li.recover .stat {color: #f6ca4f;}

	.coffe { padding: 15px; }
	.coffe img {
		max-width: 100%;
		height: auto; }
    .coffe img.light,
    .light .coffe img.dark { display: none; } 
    .light .coffe img.light { display: block; }

    .card.chartmap { grid-area: main; animation-delay: calc(9 * var(--stagger-delay)); }
    .card.statistic { grid-area: number;  animation-delay: calc(8 * var(--stagger-delay)); }
    .card.countries { grid-area: country; animation-delay: calc(7 * var(--stagger-delay)); }
    .card.social { grid-area: social;  animation-delay: calc(6 * var(--stagger-delay)); }
    .card.manual { grid-area: manual;  animation-delay: calc(5 * var(--stagger-delay)); }
    .card.app { grid-area: app;  animation-delay: calc(4 * var(--stagger-delay)); }
    .card.advice { grid-area: advice;  animation-delay: calc(3 * var(--stagger-delay)); }
    .card.news { grid-area: news;  animation-delay: calc(2 * var(--stagger-delay)); }
    header { grid-area: logo; animation-delay: calc(1 * var(--stagger-delay)); }

    .chartdiv-map {
        width: 100%;
        height: 100%;
        background-color:#262439;
        display: block; }
    .light .chartdiv-map { background: #cccc; }
}