@media (max-width: 1399px) {
	.desktop { display: none; }

	.logo-area { padding: 15px 15px 0;  }
	header {
		align-items: center;
		display: inline-flex;
		height: 60px;
		justify-content: space-between;
		width: 100%; }
	header .logo-header img {
		height: auto;
		max-width: 70%; }
	header .logo-header img.light,
	.light header .logo-header img.dark { display: none; } 
	.light header .logo-header img.light { display: block; }

	.toggle-wrapper {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		justify-content: center; }
	.toggle {
		display: inline-block;
		height: 34px;
		position: relative;
		width: 60px; }
	.toggle input {
		height: 0;
		opacity: 0;
		width: 0; }
	.toggle input:checked + .toggler { background: #fff; }
	.light .toggle input:checked + .toggler { background: #ccc; }
	.toggle input:checked + .toggler:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px); }
	.toggle input:focus + .toggler { box-shadow: 0 0 2px #fff; }
	.toggle .toggler {
		background: #000;
		bottom: 0;
		cursor: pointer;
		left: 0;
		position: absolute;
		right: 0;
		top: 0; }
	.toggle .toggler:before {
		background: #444;
		bottom: 4px;
		content: "";
		height: 26px;
		left: 4px;
		position: absolute;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		width: 26px; }
	.toggle .round { border-radius: 34px; }
	.toggle .round:before { border-radius: 50%; }
	
	.stc-card-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 10px 0; }
	.stc-card-container .card {
		padding: 3px;
		transition: color 0.15s;
		width: 25%; }
	.stc-card {
		background: #262439;
		border: none;
		border-radius: 4px;
		box-shadow: none;
		color: #Fff;
		display: flex;
		flex-direction: column;
		font-family: "SF Compact Display Semibold";
		font-size: 0.826em;
		line-height: 1;
		padding: 6px 0;
		position: relative;
		text-align: center; }
	.light .stc-card { 
		background: #ccc; 
		color: #000; }
	.stc-card .stc-card-num { margin-bottom: 3px; }
	.stc-card .stc-card-title {
		font-family: "SF Compact Display Light";
		font-size: 0.7em;
		letter-spacing: 0.5px;
		overflow: hidden;
		text-overflow: ellipsis;
		text-transform: uppercase;
		white-space: nowrap; }
	.stc-card .stc-card-rate {
		font-family: "SF Compact Display Light";
		font-size: 0.7em;
		line-height: 1;
		margin-top: 5px;
		text-align: center;
		text-transform: capitalize; }
	.stc-card .stc-card-percent {
		font-family: "SF Compact Display Regular";
		font-size: 0.7em;
		margin-top: 3px; }
	.stc-card .stc-card-percent i {
		margin-right: 5px;
		margin-top: -0.215em;
		font-size: 8px;
		color: #1a6e2a; }
	.stc-infect .stc-card-num { color: #a57af2; }
	.stc-death .stc-card-num { color: #ea536f; }
	.stc-recover .stc-card-num { color: #7fcc88; }
	.stc-active .stc-card-num { color: #ffc928; }
	.light .stc-active .stc-card-num { color: #c5970d; }

	.sidebar-section {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: calc(100vh - 295px);
		justify-content: flex-start;
		padding: 0 15px 15px;
		position: absolute;
		width: 100%; }

	.countries { width: 100%; }
	.search-contry {
		background: #262439;
		border-radius: 4px;
		padding: 0 5px 0 15px;
		position: relative;
		display: flex;
		width: 100%;
		align-items: center;
		margin-bottom: 15px;
		box-shadow: none;
		margin-top:  }
	.light .search-contry { background: #ccc; }
	.search-contry .update {
		position: absolute;
		top: 100%;
		left: 1px;
		text-align: center;
		padding: 2px 0;
		color: #fff;
		background: rgba(51, 51, 51, 0.35);
		width: 100%;
		font-size: 0.625em;
		margin-top: 4px; }
	.light .search-contry .update { color: #000; }
	.search-contry .countries-title {
		margin-top: 25px;
		width: calc(100% - 12px);
		text-align: initial;
		z-index: 0;
		position: absolute;
		top: 100%;
		left: 1px;
		padding: 2px 0;
		border-radius: 2px;
		color: #fff;
		font-size: 0.625em; }
	.light .search-contry .countries-title { color: #000; }
	.search-contry .countries-title .title { margin-left: 6px; }
	.search-contry .countries-title .subtitle {
		float: right;
		margin-right: 12px; }
	.search-contry .search-input {
		height: 40px;
		flex: 1 1;
		background: 0 0;
		border: none;
		color: #fff;
		font-size: 0.938em;
		outline: 0; }
	.light .search-contry .search-input { color: #000; }
	.search-contry .sort-by {
		width: 73px;
		padding-left: 7px;
		font-size: 0.75em;
		height: 35px;
		line-height: 3;
		color: #fff;
		border-radius: 3px;
		outline: 0;
		cursor: pointer;
		position: relative;
		transition: all 0.2s ease; }
	.light .search-contry .sort-by { color: #000; }
	.search-contry .sort-by i {
		margin-bottom: -1px;
		margin-left: 5px; }
	.search-contry .sort-by:hover { background: rgba(51, 51, 51, 0.35); }

	::-webkit-scrollbar { width: 10px; }
	::-webkit-scrollbar-thumb {
		background: #7f8197;
		border-radius: 3px; }
	::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.12); }
	.country-area {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: calc(100vh - 390px);
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		margin-top: 55px;
		flex: 1 1;
		will-change: transform;
		scroll-behavior: smooth;
		transform: scale(1);
		padding-bottom: 40px;
		position: relative;
		direction: ltr;
		display: flex; }
	.country-area .country-item {
		width: 100%;
		display: flex;
		cursor: pointer;
		justify-content: space-between;
		border: 1px solid transparent;
		flex: none;
		height: 60px;
		align-items: center;
		border-radius: 4px;
		position: relative; }
	.country-area .country-item:hover .item-overlay { max-width: 100%; }
	.country-area .country-item .item-overlay {
		z-index: 1;
		position: absolute;
		cursor: pointer;
		max-width: 0;
		background: #262439;
		border-radius: 4px;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transition: max-width 0.25s;
		display: flex;
		overflow: hidden; }
	.light .country-area .country-item .item-overlay { background: #ccc; }
	.country-area .country-item .item-overlay .overlay-blocks {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 20%;
		font-family: "SF Compact Display Semibold";
		font-size: 0.875em;
		padding: 5px;
		align-items: center;
		justify-content: center;
		line-height: 1.2;
		color: #fff; }
	.light .country-area .country-item .item-overlay .overlay-blocks { color: #000; }
	.country-area .country-item .item-overlay .overlay-blocks img {
		max-width: 100%;
		width: 17px;
		height: 17px;
		margin-top: -5px; }
	.country-area .country-item .item-overlay .overlay-blocks .blocks-subititle {
		font-size: 0.625em;
		letter-spacing: -0.4px;
		font-family: "SF Compact Display Regular";
		padding-top: 4px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		max-width: 45px; }
	.country-area .country-item .item-overlay .overlay-blocks:nth-child(2) { color: #a57af2; }
	.country-area .country-item .item-overlay .overlay-blocks:nth-child(3) { color: #ea536f; }
	.country-area .country-item .item-overlay .overlay-blocks:nth-child(4) { color: #7fcc88; }
	.country-area .country-item .item-overlay .overlay-blocks:nth-child(5) { color: #ffc928; }
	.light .country-area .country-item .item-overlay .overlay-blocks:nth-child(5) { color: #c5970d; }
	.country-area .country-item .item-flag {
		width: 30px;
		margin-right: 15px; }
	.country-area .country-item .item-flag img { max-width: 100%; }
	.country-area .country-item .item-details {
		width: 50%;
		white-space: nowrap;
		overflow: hidden;
		flex: 1 1;
		justify-content: flex-start;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 25px; }
	.country-area .country-item .item-details .details-title {
		font-size: 1em;
		min-height: 15px;
		color: #fff;
		position: relative;
		text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		white-space: nowrap; }
	.light .country-area .country-item .item-details .details-title { color: #000; }
	.country-area .country-item .item-details .details-stats {
		text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		min-height: 12px;
		color: #62626f;
		font-size: 0.813em; }
	.country-area .country-item .item-details .details-stats .cases-subtitle {
		font-family: "SF Compact Display Semibold";
		color: #a57af2; }
	.country-area .country-item .item-details .details-stats .ampers {
		color: #5f5f88;
		margin: 0 5px; }
	.country-area .country-item .item-details .details-stats .death-subtitle {
		font-family: "SF Compact Display Semibold";
		color: #ea536f; }
	.country-area .country-item .details-update {
		margin-right: 10px;
		font-family: "SF Compact Display Semibold";
		text-align: right;
		font-size: 0.688em;
		display: flex;
		flex-direction: column;
		line-height: 18px; }
	.country-area .country-item .details-update .new-cases { color: #a57af2; }
	.country-area .country-item .details-update .new-cases .positive { color: #73cc88; }
	.country-area .country-item .details-update .new-deaths { color: #ea536f; }
	.country-area .country-item .details-update .percent { margin-left: 4px; }
	.country-area .country-item .details-update .percent i { margin-right: 3px; }

	@media (max-width: 420px) {
		.country-area {
			height: calc(100vh - 475px);
		}
	}

	@media (min-width: 667px) {
		.country-area {
			height: calc(100vh - 450px);
		}
	}

	@media (min-width: 1200px) and (max-width: 1300px) {
		.country-area {
			height: calc(100vh - 690px);
		}
	}
	
	.main-footer {
		bottom: 0;
		display: flex;
		margin-bottom: 5px;
		margin-top: 2px;
		padding: 10px;
		position: fixed;
		width: calc(100% - 30px); }
	.main-footer footer {
		width: calc(100% - 5px);
		display: grid;
		gap: 0.5rem;
		grid-template-areas: "coffe app social" "contact app social";
		grid-template-columns: 1.2fr 80px 1fr;
		margin-top: 15px; }
	.main-footer footer .support, 
	.main-footer footer .contact, 
	.main-footer footer .app-link, 
	.main-footer footer .social-media {
		background: #262439;
		border-radius: 5px;
		border: none;
		box-shadow: none; }
    .light .main-footer footer .support, 
	.light .main-footer footer .contact, 
	.light .main-footer footer .app-link, 
	.light .main-footer footer .social-media {
		background: #ccc; }
	.main-footer footer .support {
		grid-area: coffe;
		display: flex;
		justify-content: center;
		align-items: center; }
	.main-footer footer .support a { padding: 15px 20px; }
	.main-footer footer .support a img {
		display: block;
		width: 180px;
		max-width: 100%;
		transition: 0.4s ease-out; }
	.main-footer footer .support a img.light,
	.light .main-footer footer .support a img.dark { display: none; } 
	.light .main-footer footer .support a img.light { display: block; }
	.main-footer footer .support a:hover img { filter: grayscale(100%); }
	.main-footer footer .contact { grid-area: contact; }
	.main-footer footer .contact ul {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 100%; }
	.main-footer footer .contact ul li { padding: 5px 10px 10px; }
	.main-footer footer .contact ul li a {
		font-size: 0.6em;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		transition: 0.4s ease-out; }
    .light .main-footer footer .contact ul li a { color: #000; }
	.main-footer footer .contact ul li a:hover { color: #e85338; }
	.main-footer footer .app-link {
		grid-area: app;
		padding: 0 0 10px; }
	.main-footer footer .app-link a {
		color: #fff;
		text-decoration: none;
		text-align: center;
		font-size: 0.65em;
		position: relative;
		display: block;
		padding-top: 100%; }
    .light .main-footer footer .app-link a { color: #000; }
	.main-footer footer .app-link a i {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 4.5em;
		margin-left: -15px;
		margin-top: -30px; }
	.main-footer footer .app-link a i { transition: 0.4s ease-out; }
	.main-footer footer .app-link a:hover i { color: #e85338; }
	.main-footer footer .social-media {
		grid-area: social;
		padding: 5px 10px; }
	.main-footer footer .social-media ul {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 70%; }
	.main-footer footer .social-media ul li {
		width: 28px;
		height: 28px;
		border-radius: 8px;
		display: flex;
		position: relative;
		transition: all 0.4s ease-out; }
	.main-footer footer .social-media ul li i {
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 26px;
		height: 26px;
		border-radius: 8px;
		color: #fff; }
    .light .main-footer footer .social-media ul li i { color: #000; }
	.main-footer footer .social-media ul li.twitter:hover i, 
	.main-footer footer .social-media ul li.facebook:hover i, 
	.main-footer footer .social-media ul li.instagram:hover i, 
	.main-footer footer .social-media ul li.dribble:hover i {
		color: #fff; }
	.main-footer footer .social-media ul li.twitter { border: 1px solid #1da1f2; }
	.main-footer footer .social-media ul li.twitter:hover { background: #1da1f2; }
	.main-footer footer .social-media ul li.facebook { border: 1px solid #3b5998; }
	.main-footer footer .social-media ul li.facebook:hover { background: #3b5998; }
	.main-footer footer .social-media ul li.instagram { border: 1px solid #c13584; }
	.main-footer footer .social-media ul li.instagram:hover {
		background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); }
	.main-footer footer .social-media ul li.dribble { border: 1px solid #ea4c89; }
	.main-footer footer .social-media ul li.dribble:hover { background: #ea4c89; }
	.main-footer footer .social-media p {
		text-align: center;
		font-size: 1em; }

	@media (max-width: 420px) {
		.main-footer footer {
			grid-template-areas: "coffe app" "contact app" "social social";
			grid-template-columns: repeat(2, auto); }
		.main-footer .social-media p { margin-top: 5px; }
	}
	
			
}