@font-face {
	font-family: "SF Compact Display Thin";
	src: url("https://db.onlinewebfonts.com/t/2de783aa20e33385dd42d0049b5bc7c7.eot");
    src: url("https://db.onlinewebfonts.com/t/2de783aa20e33385dd42d0049b5bc7c7.eot?#iefix") format("embedded-opentype"), 
         url("https://db.onlinewebfonts.com/t/2de783aa20e33385dd42d0049b5bc7c7.woff2") format("woff2"), 
         url("https://db.onlinewebfonts.com/t/2de783aa20e33385dd42d0049b5bc7c7.woff") format("woff"), 
         url("https://db.onlinewebfonts.com/t/2de783aa20e33385dd42d0049b5bc7c7.ttf") format("truetype"), 
         url("https://db.onlinewebfonts.com/t/2de783aa20e33385dd42d0049b5bc7c7.svg#SF Compact Display") format("svg") }
@font-face {
	font-family: "SF Compact Display Light";
	src: url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.eot");
    src: url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.eot?#iefix") format("embedded-opentype"), 
         url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.woff2") format("woff2"), 
         url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.woff") format("woff"), 
         url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.ttf") format("truetype"), 
         url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.svg#SF Compact Display") format("svg") }
@font-face {
	font-family: "SF Compact Display Regular";
	src: url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.eot");
    src: url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.eot?#iefix") format("embedded-opentype"), 
         url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.woff2") format("woff2"), 
         url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.woff") format("woff"), 
         url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.ttf") format("truetype"), 
         url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.svg#SF Compact Display") format("svg") }
@font-face {
	font-family: "SF Compact Display Medium";
	src: url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.eot");
    src: url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.eot?#iefix") format("embedded-opentype"), 
         url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.woff2") format("woff2"), 
         url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.woff") format("woff"), 
         url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.ttf") format("truetype"), 
         url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.svg#SF Compact Display") format("svg") }
@font-face {
	font-family: "SF Compact Display Semibold";
	src: url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.eot");
    src: url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.eot?#iefix") format("embedded-opentype"), 
         url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.woff2") format("woff2"), 
         url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.woff") format("woff"), 
         url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.ttf") format("truetype"), 
         url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.svg#SF Compact Display") format("svg") }

* {
    margin: 0;
    padding: 0; }

ul, 
ol,
li {
	text-decoration: none;
    list-style-type: none;
}

body {
    background: rgb(35, 27, 52);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif; }

header {
    width: 100%;
    height: 60px;
    margin: 20px 0 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center; }

.logo-header { margin-left: 20px; }
.logo-header img {
	max-width: 70%;
    height: auto; }

.toggle-bg {
    margin-right: 20px;
    width: 100px;
    height: 40px;
    background: #f00; }

.main-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    margin: 20px; }

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow:hidden;
    text-align: center; }
.chartmap { display: none; }

.stc-card-container {
    display: grid;
    gap: 10px;
    margin: 0 20px 10px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); }
.stc-card {
    padding: 10px 15px 5px;
    background: #262439; }
.stc-card .stc-card-num {
    font-size: 1.3rem;
    margin-bottom: 3px;
    font-family: "SF Compact Display Semibold"; }
.stc-card.stc-infect .stc-card-num { color: #a57af2; }
.stc-card.stc-death .stc-card-num { color: #ea536f; }
.stc-card.stc-recover .stc-card-num { color: #7fcc88; }
.stc-card.stc-critical .stc-card-num { color: #f6ca4f; }
.stc-card .stc-card-title {
    text-transform: uppercase;
    font-size: 0.95rem;
    margin-bottom: 10px;
    font-family: "SF Compact Display Semibold"; }
.stc-card .stc-card-rate {
    font-size: 0.85rem;
    font-family: "SF Compact Display Thin";
    margin-bottom: 5px;
    text-transform: capitalize; }
.stc-card .stc-card-percent {
    font-size: 0.84rem;
    font-family: "SF Compact Display Thin"; }
.stc-card .stc-card-percent i {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    padding-right: 5px;
    color: #1a6e2a;
    position: relative;
    top: -0.5px; }

.stc-sort-container { 
    background: #27293c; 
    width: 100%;
    padding: 7px 0;
    border-radius: 5px; }
.stc-sort {
    font-family: "SF Compact Display Thin";
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	line-height: 1.5;
	height: 35px;
	margin: 0 20px; }
.stc-sort .sort-title { font-size: 1.4em; }
.stc-sort .sort-button {
	background-color: transparent;
	border: none;
	color: #fff;
	text-decoration: none;
	font-size: 1.1em;
    font-family: "SF Compact Display Thin"; }
.stc-sort .sort-button i {
	font-size: 0.8em;
	padding-left: 10px; }

.statistic .stc-update {
    font-family: "SF Compact Display Thin";
    font-size: 0.9rem;
    margin: 10px 0 0; }

.countries-title,
.countries-container {
    display: flex;
    justify-content: space-between;
    width: 100%; }

.countries-title {
    font-size: 0.6rem;
    font-family: "SF Compact Display Thin";
    margin-bottom: 25px;
    color: #bbb; }

.countries-container { margin-bottom: 35px }
.countries-container .country {
	text-align: left;
	padding-left: 60px;
	position: relative; }
.countries-container .country:before {
	width: 45px;
	height: 30px;
	content: "";
	background: #f00;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -15px; }
.countries-container .country h2 {
	font-size: 1.25rem;
    font-family: "SF Compact Display Light";
    padding-left: 5px;
    margin-bottom: 2px; }
.countries-container .country p {
	font-size: 1rem;
    font-family: "SF Compact Display Medium"; }

.countries-container .country p span.cases,
.countries-container .stats p.cases { color:#a57af2; }
.countries-container .country p span.deaths,
.countries-container .stats p.deaths { color:#ea536f; }

.countries-container .stats {
	font-family: "SF Compact Display Medium";
	text-align: right;
	line-height: 1.5;
	font-size: 0.9rem; }
.countries-container .stats span.percent { 
    padding-left: 8px;
    color: #73cc88; }
.countries-container .stats span.percent i { 
    font-size: 0.7em;
    margin-right: 4px;
    position:relative;
    top: -1px }
.countries-container .stats span.percent i.icon-up { color: #73cc88; }
.countries-container .stats span.percent i.icon-down { color: #ea536f; }

.full-country-container {
	width: 100%;
	margin: -5px 0 20px; }
.full-country-container .country {
	background: #27293c;
	display: grid;
	padding: 10px 50px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 0.5rem; }
.full-country-container .country li {
	display: flex;
	flex-direction: column; }
.full-country-container .country li .stat {
    font-family: "SF Compact Display Medium";
    font-size: 0.85rem;
    margin-bottom: 5px;
    letter-spacing: 1px; }
.full-country-container .country .name { 
    padding-top: 20px;
    position: relative; }
.full-country-container .country .name:before {
	width: 25px;
	height: 15px;
	content: "";
	background: #f00;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -11px; }
.full-country-container .country .name,
.full-country-container .country li .subtitle {
	color: #bbb;
	font-size: 0.65rem;
	text-transform: capitalize; }
.full-country-container .country li.total .stat {color:#a57af2;}
.full-country-container .country li.deaths .stat {color: #ea536f;}
.full-country-container .country li.active .stat {color: #7fcc88;}
.full-country-container .country li.recover .stat {color: #f6ca4f}


/* @media (min-width: 1024px) {
    .main-grid {
        padding: 8px;
        height: calc(100vh - 65px);
        display: grid;
        gap: 1rem;
        grid-template-areas: "travel main main number"
                             "travel main main number"
                             "social main main country"
                             "social main main country";
        grid-template-rows: repeat(4, 25%);
        grid-template-columns: 240px auto auto 240px;

        --stagger-delay: 200ms;
    }

    @keyframes cardEntrance {
        from {
            opacity: 0;
            transform: scale(0.3);
            filter: hue-rotate(180deg);
        }
        to {
            opacity: 1;
            transform: scale(1);
            filter: hue-rotate(0deg);
        }
    }

    .card {
        animation: cardEntrance 700ms ease-out;
        animation-fill-mode: backwards;
    }
    .is-desktop .chartmap { display: block; }

    .card:nth-child(1) { grid-area: main;    animation-delay: calc(5 * var(--stagger-delay)); }
    .card:nth-child(2) { grid-area: number;  animation-delay: calc(4 * var(--stagger-delay)); }
    .card:nth-child(3) { grid-area: country; animation-delay: calc(3 * var(--stagger-delay)); }
    .card:nth-child(4) { grid-area: social;  animation-delay: calc(2 * var(--stagger-delay)); }
    .card:nth-child(5) { grid-area: travel;  animation-delay: calc(1 * var(--stagger-delay)); }

    .chartdiv-map {
        width: 100%;
        height: 100%;
        background-color:#212327;
    }
} */