* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(19,19,19);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.main-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: rgb(36, 243, 147);
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5rem, rgba(2,8,20,0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow:hidden;
}

@media (min-width: 1024px) {
    .main-grid {
        padding: 8px;
        height: calc(100vh - 65px);
        display: grid;
        gap: 1rem;
        grid-template-areas: "travel main  main  number"
                            "travel main  main  number"
                            "book   main  main  country"
                            "social chart chart country";
        grid-template-rows: repeat(4, 25%);
        grid-template-columns: 240px auto auto 240px;

        --stagger-delay: 100ms;
    }

    @keyframes cardEntrance {
        from {
            opacity: 0;
            transform: scale(0.3);
            filter: hue-rotate(180deg);
        }
        to {
            opacity: 1;
            transform: scale(1);
            filter: hue-rotate(0deg);
        }
    }

    .card {
        animation: cardEntrance 700ms ease-out;
        animation-fill-mode: backwards;
    }

    .card:nth-child(1) { grid-area: main;    animation-delay: calc(7 * var(--stagger-delay)); }
    .card:nth-child(2) { grid-area: number;  animation-delay: calc(6 * var(--stagger-delay)); }
    .card:nth-child(3) { grid-area: country; animation-delay: calc(5 * var(--stagger-delay)); }
    .card:nth-child(4) { grid-area: chart;   animation-delay: calc(4 * var(--stagger-delay)); }
    .card:nth-child(5) { grid-area: social;  animation-delay: calc(3 * var(--stagger-delay)); }
    .card:nth-child(6) { grid-area: book;    animation-delay: calc(2 * var(--stagger-delay)); }
    .card:nth-child(7) { grid-area: travel;  animation-delay: calc(1 * var(--stagger-delay)); }
}