@font-face {
  font-family: "SF Compact Display Light";
  src: url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.eot");
  src: url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/1ae4a10df3a35a7ac5a8032c64f3c801.svg#SF Compact Display")
      format("svg");
}
@font-face {
  font-family: "SF Compact Display Regular";
  src: url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.eot");
  src: url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.svg#SF Compact Display")
      format("svg");
}
@font-face {
  font-family: "SF Compact Display Medium";
  src: url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.eot");
  src: url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/5ec2f3312f239da77e9f457fee061c0c.svg#SF Compact Display")
      format("svg");
}
@font-face {
  font-family: "SF Compact Display Semibold";
  src: url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.eot");
  src: url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/98b8860736a2ad9b96a0357c9007d1ec.svg#SF Compact Display")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  background: rgb(35, 27, 52);
  color: #fff;
  font-family: "SF Compact Display Regular";
  overflow: hidden;
  display: flex;
}
section.light {
  background: #fff;
  color: #000;
}

.big-screen,
.logo-area,
.main-footer {
  display: none;
}

.left-column,
.right-column {
  width: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 100vh;
}
.left-column > .card,
.right-column > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.header-desktop.logo-area {
  padding: 8px;
  margin: 3px 0;
  position: relative;
  max-height: 80px;
  border-radius: 8px;
}
.header-desktop.logo-area .logo-header {
  width: 100%;
}
.header-desktop.logo-area .logo-header img {
  max-width: 90%;
  height: auto;
}
.header-desktop.logo-area .logo-header img.light,
.light .header-desktop.logo-area .logo-header img.dark {
  display: none;
}
.light .header-desktop.logo-area .logo-header img.light {
  display: block;
}

.news {
  background: #262439;
  padding: 5px 10px;
  font-family: "SF Compact Display Light";
  border-radius: 8px;
  position: relative;
  margin: 5px 0;
}
.light .news {
  background: #ccc;
}
.news-header {
  width: calc(100% - 12px);
  text-align: initial;
  z-index: 0;
  position: relative;
  padding: 2px 0;
  border-radius: 2px;
  color: #fff;
  font-size: 0.652em;
  text-transform: capitalize;
}
.light .news-header {
  color: #000;
}
.news-header .title {
  margin-left: 6px;
}
.news-header .title .highlight {
  color: #ff9502;
}
.news-header .subtitle {
  float: right;
}
.news-item-container {
  display: flex;
  justify-content: space-around;
  margin: 10px auto 0;
}
.news-item-container .news-item {
  padding: 2px;
  margin: 0 auto;
  display: block;
  position: relative;
}
.news-item-container .news-item .img-box {
  width: 122px;
  height: 84px;
  display: block;
  margin: 0 auto;
}
.news-item-container .news-item img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.news-item-container .news-item .item-box {
  display: block;
  width: 120px;
  padding: 3px;
}
.news-item-container .news-item .item-box h1 {
  font-family: "SF Compact Display Light";
  font-size: 0.68em;
  color: #ccc;
  line-height: 1.3;
  margin-top: 2px;
  transition: 0.5s ease;
  overflow: hidden;
  max-height: 25px;
}
.light .news-item-container .news-item .item-box h1 {
  color: #000;
}
.news-item-container .news-item .item-box h1:hover {
  color: #ff9502;
}
.news-item-container .news-item .item-box h3 {
  font-family: "SF Compact Display Light";
  font-size: 0.55em;
  font-weight: lighter;
  color: #fff;
  margin-top: 4px;
  transition: 0.5s ease;
  overflow: hidden;
  white-space: nowrap;
  min-height: 12px;
}
.light .news-item-container .news-item .item-box h3 {
  color: #000;
}
.headlines-container {
  margin-top: 10px;
  padding: 0 10px;
}
.headlines-container .headlines-item {
  margin-bottom: 5px;
}
.headlines-container .headlines-item h2 {
  font-family: "SF Compact Display Light";
  color: #ccc;
  font-size: 0.625em;
  line-height: 1.3;
  transition: 0.5s ease;
  max-height: 15px;
  overflow: hidden;
}
.light .headlines-container .headlines-item h2 {
  color: #000;
}
.headlines-container .headlines-item a {
  color: #fff;
}
.light .headlines-container .headlines-item a {
  color: #000;
}
.headlines-container .headlines-item a:hover h2 {
  color: #ff9502;
}
.headlines-container .headlines-item h3 {
  font-size: 0.58em;
  color: #ff9502;
}

.advice {
  font-family: "SF Compact Display Light";
  background: #e85338;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 5px;
  max-height: 60px;
  border-radius: 8px;
  position: relative;
}
.advice .fa-exclamation-triangle {
  position: absolute;
  left: 20px;
  font-size: 20px;
  color: #ffc928;
}
.advice .advice-container {
  display: flex;
  flex-direction: column;
  padding-left: 55px;
  justify-content: center;
  height: 100%;
  position: relative;
  line-height: 1.2;
}
.advice .advice-container h2 {
  font-size: 0.9em;
}
.advice .advice-container p {
  font-size: 0.75em;
}
.advice .advice-container p span {
  font-size: 0.8em;
}
.advice .advice-button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: calc(100% - 18px);
  border-left: 2px solid #fff;
  margin: 8px 0;
}
.advice .advice-button .sort-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 8px);
  color: #fff;
  transition: 0.4s ease-in-out;
}
.advice .advice-button .sort-button i {
  margin-top: 2px;
  margin-right: 0;
}
.advice .advice-button .sort-button:hover {
  margin-top: 5px;
}
.advice-content {
  position: relative;
  background: #e85338;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: -5px;
  z-index: 2;
  font-size: 0.8em;
  height: 0;
}
.advice-content p {
  margin: 0;
  opacity: 0;
  padding: 10px;
}
.advice-content.show {
  height: auto;
}
.advice-content.show p {
  opacity: 1;
}

.app {
  background: #262439;
  padding: 3px;
  margin: 8px 0;
  padding: 5px 10px;
}
.light .app {
  background: #ccc;
}
.app .app-container h1 {
  color: #ccc;
  font-size: 0.75em;
  margin-bottom: 15px;
  font-family: "SF Compact Display Light";
}
.app .app-container h1 span {
  color: #ff9502;
}
.app .app-container .app-items-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.app .app-container .update-container {
  max-width: 70%;
  position: relative;
  margin-right: 20px;
  padding-right: 5px;
}
.app .app-container .update-container:before {
  content: "";
  position: absolute;
  background: #26375c;
  width: 1px;
  height: calc(100% - 20px);
  top: 5px;
  left: 18px;
}
.app .app-container .app-items {
  font-size: 0.68em;
  line-height: 1.2;
  padding-left: 40px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.app .app-container .app-items span {
  margin-bottom: 5px;
}
.app .app-container .app-items span.date {
  margin-top: 5px;
}
.app .app-container .app-items i {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 0.5em;
  font-size: 15px;
  left: 10px;
  top: 3px;
  color: #71cf4e;
}
.app .app-container .app-items:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: #fff;
  font-size: 6px;
  left: 15px;
  top: 8px;
  margin-left: -0.2px;
  position: absolute;
}
.app .app-container .app-items:last-child .fa-circle {
  color: #ff9502;
}
.app .app-container .install-app a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.app .app-container .install-app a i {
  margin-bottom: 15px;
  font-size: 35px;
  color: #ff9502;
  transition: color 0.3s ease;
}
.app .app-container .install-app a:hover i {
  color: #fff;
}
.light .app .app-container .install-app a:hover i {
  color: #000;
}
.app .app-container .install-app span {
  font-size: 0.55em;
  color: #ccc;
}
.light .app .app-container .install-app span {
  color: #000;
}

.social {
  background: #262439;
  padding: 8px 10px 5px;
}
.light .social {
  background: #ccc;
}
.social h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 5px 0;
  font-family: "SF Compact Display Light";
}
.social p {
  font-size: 0.7em;
  padding: 0 20px;
  text-align: center;
  line-height: 1.1;
}
.social-media {
  margin: 10px 0;
}
.social-media ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}
.social-media ul li {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  position: relative;
  transition: all 0.4s ease-out;
}
.social-media ul li i {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  color: #fff;
}
.light .social-media ul li i {
  color: #000;
}
.social-media ul li.twitter:hover i,
.social-media ul li.facebook:hover i,
.social-media ul li.instagram:hover i,
.social-media ul li.dribble:hover i {
  color: #fff;
}
.social-media ul li.twitter {
  border: 1px solid #1da1f2;
}
.social-media ul li.twitter:hover {
  background: #1da1f2;
}
.social-media ul li.facebook {
  border: 1px solid #3b5998;
}
.social-media ul li.facebook:hover {
  background: #3b5998;
}
.social-media ul li.instagram {
  border: 1px solid #c13584;
}
.social-media ul li.instagram:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
.social-media ul li.dribble {
  border: 1px solid #ea4c89;
}
.social-media ul li.dribble:hover {
  background: #ea4c89;
}
.social-media p {
  margin-top: 15px;
  text-align: center;
  font-size: 0.7em;
}
.contact ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}
.contact ul li a {
  font-size: 0.65em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #262439;
  padding: 5px 13px;
  transition: 0.4s ease-out;
}
.light .contact ul li a {
  color: #000;
  background: #bbb;
}
.contact ul li a:hover {
  background: #ffc928;
}

.chartdiv-map {
  width: calc(100vw - 670px);
  height: calc(100vh - 10px);
  background-color: #262439;
  display: block;
  margin: 5px;
  border-radius: 8px;
}
.light .chartdiv-map {
  background: #ccc;
}

.nightmode {
  background: #262439;
  padding: 5px 0;
  max-height: 70px;
  margin-bottom: 5px;
  border-radius: 8px;
}
.light .nightmode {
  background: #ccc;
}

.toggle-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.toggle {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 60px;
}
.toggle input {
  height: 0;
  opacity: 0;
  width: 0;
}
.toggle input:checked + .toggler {
  background: #fff;
}
.toggle input:checked + .toggler:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.toggle input:focus + .toggler {
  box-shadow: 0 0 2px #fff;
}
.toggle .toggler {
  background: #000;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.toggle .toggler:before {
  background: #444;
  bottom: 2px;
  content: "";
  height: 20px;
  left: 6px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 20px;
}
.toggle .round {
  border-radius: 34px;
}
.toggle .round:before {
  border-radius: 50%;
}

.nightmode .night-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.nightmode .night-container .flag {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.nightmode .night-container .lang .jp,
.nightmode .night-container .lang .us {
  display: flex;
  align-items: center;
}
.nightmode .night-container .lang .us {
  position: absolute;
  top: 25px;
  background: #444;
  padding: 5px;
  display: none;
}
.light .nightmode .night-container .lang .us {
  color: #fff;
}
.nightmode .night-container .lang.show .us {
  display: flex;
}
.nightmode .night-container .lang .jp img,
.nightmode .night-container .lang .us img {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.world-cases h1,
.us-cases h1,
.japan-cases h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 2px 10px;
  text-align: center;
  background: #fff;
  color: #000;
  border-radius: 8px;
}
.light .world-cases h1,
.light .us-cases h1,
.light .japan-cases h1 {
  box-shadow: 0 0 0 1px #cecece, 0 5px 7px -2px rgba(0, 0, 0, 0.2);
}
.world-cases h1 img,
.us-cases h1 img,
.japan-cases h1 img {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.us-sort {
  background: #2e338d;
}
.japan-sort {
  background: #578bc6;
}
.us-sort,
.japan-sort {
  border-radius: 4px;
  padding: 0 5px 0 15px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;
}
.us-sort .search-input,
.japan-sort .search-input {
  height: 35px;
  flex: 1 1;
  background: 0 0;
  color: #fff;
  font-size: 0.8em;
  outline: 0;
  border: none;
}
.us-sort .search-input::-webkit-input-placeholder,
.japan-sort .search-input::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}
.us-sort .search-input:-ms-input-placeholder,
.japan-sort .search-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.us-sort .search-input::placeholder,
.japan-sort .search-input::placeholder {
  color: #fff;
}
.us-sort .sort-by,
.japan-sort .sort-by {
  width: 73px;
  padding-left: 7px;
  font-size: 0.75em;
  height: 35px;
  line-height: 3;
  color: #fff;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}
.us-sort .sort-by i,
.japan-sort .sort-by i {
  margin-bottom: -1px;
  margin-left: 5px;
}
.us-sort .sort-by:hover,
.japan-sort .sort-by:hover {
  background: rgba(51, 51, 51, 0.35);
}

.stc-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0;
}
.stc-card-container .card {
  padding: 3px;
  transition: color 0.15s;
  width: 50%;
}
.stc-card {
  background: #262439;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "SF Compact Display Semibold";
  font-size: 0.826em;
  line-height: 1;
  padding: 6px 0;
  position: relative;
  text-align: center;
}
.light .stc-card {
  background: #ccc;
  color: #000;
}
.stc-card .stc-card-num {
  font-size: 1.2em;
  margin-bottom: 3px;
}
.stc-card .stc-card-title {
  font-family: "SF Compact Display Light";
  font-size: 0.78em;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
.stc-card .stc-card-rate {
  font-family: "SF Compact Display Light";
  font-size: 0.7em;
  line-height: 1;
  margin-top: 5px;
  text-align: center;
  text-transform: capitalize;
}
.stc-infect .stc-card-num {
  color: #a57af2;
}
.stc-death .stc-card-num {
  color: #ea536f;
}
.stc-recover .stc-card-num {
  color: #7fcc88;
}
.stc-active .stc-card-num {
  color: #ffc928;
}
.light .stc-active .stc-card-num {
  color: #c5970d;
}

.countries {
  width: 100%;
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}
.search-contry {
  background: #262439;
  border-radius: 4px;
  padding: 0 5px 0 15px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}
.light .search-contry {
  background: #ccc;
}
.search-contry .update {
  position: absolute;
  top: 100%;
  left: 1px;
  text-align: center;
  padding: 2px 0;
  color: #fff;
  background: rgba(51, 51, 51, 0.35);
  width: 100%;
  font-size: 0.625em;
  margin-top: 4px;
}
.light .search-contry .update {
  color: #000;
}
.search-contry .countries-title {
  margin-top: 25px;
  width: calc(100% - 12px);
  text-align: initial;
  z-index: 0;
  position: absolute;
  top: 100%;
  left: 1px;
  padding: 2px 0;
  border-radius: 2px;
  color: #fff;
  font-size: 0.625em;
}
.light .search-contry .countries-title {
  color: #000;
}
.search-contry .countries-title .title {
  margin-left: 6px;
}
.search-contry .countries-title .subtitle {
  float: right;
  margin-right: 12px;
}
.search-contry .search-input {
  height: 40px;
  flex: 1 1;
  background: 0 0;
  color: #fff;
  font-size: 0.938em;
  outline: 0;
  border: none;
}
.light .search-contry .search-input {
  color: #000;
}
.search-contry .sort-by {
  width: 73px;
  padding-left: 7px;
  font-size: 0.75em;
  height: 35px;
  line-height: 3;
  color: #fff;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}
.light .search-contry .sort-by {
  color: #000;
}
.search-contry .sort-by i {
  margin-bottom: -1px;
  margin-left: 5px;
}
.search-contry .sort-by:hover {
  background: rgba(51, 51, 51, 0.35);
}

.sort-dropdown {
  position: absolute;
  right: 0;
  z-index: 3;
  top: 100%;
  line-height: 2;
  min-width: 180px;
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #262439;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.light .sort-dropdown {
  background: #ccc;
}
.sort-dropdown.show {
  opacity: 1;
  visibility: visible;
  display: block;
}
.sort-dropdown .slots {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  border-radius: 4px;
}
.light .sort-dropdown .slots {
  color: #000;
}
.sort-dropdown .slots:hover {
  background: rgba(34, 34, 34, 0.31);
}
.sort-dropdown .slots .round {
  background: transparent;
  border-radius: 100px;
  border: thin solid #444;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}
.sort-dropdown .slots.active .round {
  background: rgba(31, 142, 241, 0.61);
}
.sort-dropdown .slots span {
  flex: 1 1;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #7f8197;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.12);
}

.country-area {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 55px;
  flex: 1 1;
  will-change: transform;
  scroll-behavior: smooth;
  transform: scale(1);
  padding-bottom: 60px;
  height: calc(100vh - (100% + 50px));
  position: relative;
  direction: ltr;
  display: flex;
}
.country-area .country-item {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid transparent;
  flex: none;
  height: 60px;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.country-area .country-item:hover .item-overlay {
  max-width: 100%;
}
.country-area .country-item .item-overlay {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  max-width: 0;
  background: #262439;
  border-radius: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: max-width 0.25s;
  display: flex;
  overflow: hidden;
}
.light .country-area .country-item .item-overlay {
  background: #ccc;
}
.country-area .country-item .item-overlay .overlay-blocks {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  font-family: "SF Compact Display Semibold";
  font-size: 0.68em;
  padding: 5px;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  color: #fff;
}
.light .country-area .country-item .item-overlay .overlay-blocks {
  color: #000;
}
.country-area .country-item .item-overlay .overlay-blocks img {
  width: 17px;
  height: 17px;
  margin-top: -5px;
}
.country-area .country-item .item-overlay .overlay-blocks .blocks-subititle {
  font-size: 0.25em;
  letter-spacing: -0.4px;
  font-family: "SF Compact Display Regular";
  padding-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 45px;
}
.country-area .country-item .item-overlay .overlay-blocks:nth-child(2) {
  color: #a57af2;
}
.country-area .country-item .item-overlay .overlay-blocks:nth-child(3) {
  color: #ea536f;
}
.country-area .country-item .item-overlay .overlay-blocks:nth-child(4) {
  color: #7fcc88;
}
.country-area .country-item .item-overlay .overlay-blocks:nth-child(5) {
  color: #ffc928;
}
.light .country-area .country-item .item-overlay .overlay-blocks:nth-child(5) {
  color: #c5970d;
}
.country-area .country-item .item-flag {
  width: 30px;
  margin-right: 15px;
}
.country-area .country-item .item-flag img {
  max-width: 100%;
}
.country-area .country-item .item-details {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 25px;
}
.country-area .country-item .item-details .details-title {
  font-size: 1em;
  min-height: 15px;
  color: #fff;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.light .country-area .country-item .item-details .details-title {
  color: #000;
}
.country-area .country-item .item-details .details-stats {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  min-height: 12px;
  color: #62626f;
  font-size: 0.813em;
}
.country-area .country-item .item-details .details-stats .cases-subtitle {
  font-family: "SF Compact Display Semibold";
  color: #a57af2;
}
.country-area .country-item .item-details .details-stats .ampers {
  color: #5f5f88;
  margin: 0 5px;
}
.country-area .country-item .item-details .details-stats .death-subtitle {
  font-family: "SF Compact Display Semibold";
  color: #ea536f;
}
.country-area .country-item .details-update {
  margin-right: 10px;
  font-family: "SF Compact Display Semibold";
  text-align: right;
  font-size: 0.688em;
  display: flex;
  flex-direction: column;
  line-height: 18px;
}
.country-area .country-item .details-update .new-cases {
  color: #a57af2;
}
.country-area .country-item .details-update .new-cases .positive {
  color: #73cc88;
}
.country-area .country-item .details-update .new-deaths {
  color: #ea536f;
}
.country-area .country-item .details-update .percent {
  margin-left: 4px;
}
.country-area .country-item .details-update .percent i {
  margin-right: 3px;
}

.coffe {
  width: calc(100% - 20px);
  padding: 10px 0;
  position: absolute;
  bottom: 5px;
  background: #262439;
  border-radius: 8px;
}
.light .coffe {
  background: #ccc;
}
.coffe .coffe-container {
  width: 100%;
}
.coffe .coffe-container img {
  width: 70%;
  margin-left: 20px;
  display: block;
  transition: 0.4s ease;
}
.coffe .coffe-container img:hover {
  filter: grayscale(100%);
}
.coffe .coffe-container img.light,
.light .coffe .coffe-container img.dark {
  display: none;
}
.light .coffe .coffe-container img.light {
  display: block;
}

/*** ANIMATIONS **/

section {
  --stagger-delay: 200ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.card {
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
  border-radius: 8px;
}

.card.logo-area {
  animation-delay: calc(1 * var(--stagger-delay));
}
.card.news {
  animation-delay: calc(2 * var(--stagger-delay));
}
.card.advice {
  animation-delay: calc(3 * var(--stagger-delay));
}
.card.app {
  animation-delay: calc(4 * var(--stagger-delay));
}
.card.social {
  animation-delay: calc(5 * var(--stagger-delay));
}
.card.coffe {
  animation-delay: calc(6 * var(--stagger-delay));
}
.countries {
  animation-delay: calc(7 * var(--stagger-delay));
}
.card.stats {
  animation-delay: calc(8 * var(--stagger-delay));
}
.card.nightmode {
  animation-delay: calc(9 * var(--stagger-delay));
}
.card.chartmap {
  animation-delay: calc(10 * var(--stagger-delay));
}

@media (max-width: 1399px) {
  .left-column,
  .card.nightmode-desktop,
  .card.stats,
  .card.coffe,
  .chartmap {
    display: none;
  }

  .logo-area,
  .main-footer {
    display: block;
  }

  .right-column {
    width: 100%;
    display: flex;
  }

  .logo-area {
    padding: 15px 10px;
  }
  header {
    align-items: center;
    display: inline-flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
  }
  header .logo-header img {
    height: auto;
    max-width: 70%;
  }
  header .logo-header img.light,
  .light header .logo-header img.dark {
    display: none;
  }
  .light header .logo-header img.light {
    display: block;
  }

  .nightmode {
    background: transparent;
  }

  .toggle-wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  .toggle {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  .toggle input {
    height: 0;
    opacity: 0;
    width: 0;
  }
  .toggle input:checked + .toggler {
    background: #fff;
  }
  .light .toggle input:checked + .toggler {
    background: #ccc;
  }
  .toggle input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .toggle input:focus + .toggler {
    box-shadow: 0 0 2px #fff;
  }
  .toggle .toggler {
    background: #000;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .toggle .toggler:before {
    background: #444;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 26px;
  }
  .toggle .round {
    border-radius: 34px;
  }
  .toggle .round:before {
    border-radius: 50%;
  }

  .stc-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
  }
  .stc-card-container .card {
    padding: 3px;
    transition: color 0.15s;
    width: 25%;
  }
  .stc-card {
    background: #262439;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "SF Compact Display Semibold";
    font-size: 0.826em;
    line-height: 1;
    padding: 6px 0;
    position: relative;
    text-align: center;
  }
  .light .stc-card {
    background: #ccc;
    color: #000;
  }
  .stc-card .stc-card-num {
    margin-bottom: 3px;
  }
  .stc-card .stc-card-title {
    font-family: "SF Compact Display Light";
    font-size: 0.7em;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .stc-card .stc-card-rate {
    font-family: "SF Compact Display Light";
    font-size: 0.7em;
    line-height: 1;
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
  }
  .stc-card .stc-card-percent {
    font-family: "SF Compact Display Regular";
    font-size: 0.7em;
    margin-top: 3px;
  }
  .stc-card .stc-card-percent i {
    margin-right: 5px;
    margin-top: -0.215em;
    font-size: 8px;
    color: #1a6e2a;
  }
  .stc-infect .stc-card-num {
    color: #a57af2;
  }
  .stc-death .stc-card-num {
    color: #ea536f;
  }
  .stc-recover .stc-card-num {
    color: #7fcc88;
  }
  .stc-active .stc-card-num {
    color: #ffc928;
  }
  .light .stc-active .stc-card-num {
    color: #c5970d;
  }

  .countries {
    width: 100%;
    padding: 0 10px;
  }
  .search-contry {
    background: #262439;
    border-radius: 4px;
    padding: 0 5px 0 15px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: none;
  }
  .light .search-contry {
    background: #ccc;
  }
  .search-contry .update {
    position: absolute;
    top: 100%;
    left: 1px;
    text-align: center;
    padding: 2px 0;
    color: #fff;
    background: rgba(51, 51, 51, 0.35);
    width: 100%;
    font-size: 0.625em;
    margin-top: 4px;
  }
  .light .search-contry .update {
    color: #000;
  }
  .search-contry .countries-title {
    margin-top: 25px;
    width: calc(100% - 12px);
    text-align: initial;
    z-index: 0;
    position: absolute;
    top: 100%;
    left: 1px;
    padding: 2px 0;
    border-radius: 2px;
    color: #fff;
    font-size: 0.625em;
  }
  .light .search-contry .countries-title {
    color: #000;
  }
  .search-contry .countries-title .title {
    margin-left: 6px;
  }
  .search-contry .countries-title .subtitle {
    float: right;
    margin-right: 12px;
  }
  .search-contry .search-input {
    height: 40px;
    flex: 1 1;
    background: 0 0;
    border: none;
    color: #fff;
    font-size: 0.938em;
    outline: 0;
  }
  .light .search-contry .search-input {
    color: #000;
  }
  .search-contry .sort-by {
    width: 73px;
    padding-left: 7px;
    font-size: 0.75em;
    height: 35px;
    line-height: 3;
    color: #fff;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
  }
  .light .search-contry .sort-by {
    color: #000;
  }
  .search-contry .sort-by i {
    margin-bottom: -1px;
    margin-left: 5px;
  }
  .search-contry .sort-by:hover {
    background: rgba(51, 51, 51, 0.35);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #7f8197;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.12);
  }
  .country-area {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 390px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 55px;
    flex: 1 1;
    will-change: transform;
    scroll-behavior: smooth;
    transform: scale(1);
    padding-bottom: 40px;
    position: relative;
    direction: ltr;
    display: flex;
  }
  .country-area .country-item {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    border: 1px solid transparent;
    flex: none;
    height: 60px;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  .country-area .country-item:hover .item-overlay {
    max-width: 100%;
  }
  .country-area .country-item .item-overlay {
    z-index: 1;
    position: absolute;
    cursor: pointer;
    max-width: 0;
    background: #262439;
    border-radius: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: max-width 0.25s;
    display: flex;
    overflow: hidden;
  }
  .light .country-area .country-item .item-overlay {
    background: #ccc;
  }
  .country-area .country-item .item-overlay .overlay-blocks {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    font-family: "SF Compact Display Semibold";
    font-size: 0.875em;
    padding: 5px;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    color: #fff;
  }
  .light .country-area .country-item .item-overlay .overlay-blocks {
    color: #000;
  }
  .country-area .country-item .item-overlay .overlay-blocks img {
    max-width: 100%;
    width: 17px;
    height: 17px;
    margin-top: -5px;
  }
  .country-area .country-item .item-overlay .overlay-blocks .blocks-subititle {
    font-size: 0.625em;
    letter-spacing: -0.4px;
    font-family: "SF Compact Display Regular";
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 45px;
  }
  .country-area .country-item .item-overlay .overlay-blocks:nth-child(2) {
    color: #a57af2;
  }
  .country-area .country-item .item-overlay .overlay-blocks:nth-child(3) {
    color: #ea536f;
  }
  .country-area .country-item .item-overlay .overlay-blocks:nth-child(4) {
    color: #7fcc88;
  }
  .country-area .country-item .item-overlay .overlay-blocks:nth-child(5) {
    color: #ffc928;
  }
  .light
    .country-area
    .country-item
    .item-overlay
    .overlay-blocks:nth-child(5) {
    color: #c5970d;
  }
  .country-area .country-item .item-flag {
    width: 30px;
    margin-right: 15px;
  }
  .country-area .country-item .item-flag img {
    max-width: 100%;
  }
  .country-area .country-item .item-details {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 25px;
  }
  .country-area .country-item .item-details .details-title {
    font-size: 1em;
    min-height: 15px;
    color: #fff;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .light .country-area .country-item .item-details .details-title {
    color: #000;
  }
  .country-area .country-item .item-details .details-stats {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    min-height: 12px;
    color: #62626f;
    font-size: 0.813em;
  }
  .country-area .country-item .item-details .details-stats .cases-subtitle {
    font-family: "SF Compact Display Semibold";
    color: #a57af2;
  }
  .country-area .country-item .item-details .details-stats .ampers {
    color: #5f5f88;
    margin: 0 5px;
  }
  .country-area .country-item .item-details .details-stats .death-subtitle {
    font-family: "SF Compact Display Semibold";
    color: #ea536f;
  }
  .country-area .country-item .details-update {
    margin-right: 10px;
    font-family: "SF Compact Display Semibold";
    text-align: right;
    font-size: 0.688em;
    display: flex;
    flex-direction: column;
    line-height: 18px;
  }
  .country-area .country-item .details-update .new-cases {
    color: #a57af2;
  }
  .country-area .country-item .details-update .new-cases .positive {
    color: #73cc88;
  }
  .country-area .country-item .details-update .new-deaths {
    color: #ea536f;
  }
  .country-area .country-item .details-update .percent {
    margin-left: 4px;
  }
  .country-area .country-item .details-update .percent i {
    margin-right: 3px;
  }

  @media (max-width: 420px) {
    .country-area {
      height: calc(100vh - 475px);
    }
  }

  @media (min-width: 667px) {
    .country-area {
      height: calc(100vh - 450px);
    }
  }

  @media (min-width: 1200px) and (max-width: 1300px) {
    .country-area {
      height: calc(100vh - 690px);
    }
  }

  .main-footer {
    bottom: 0;
    display: flex;
    margin-bottom: 5px;
    margin-top: 2px;
    padding: 10px;
    position: fixed;
    width: calc(100% - 5px);
  }
  .main-footer footer {
    width: calc(100% - 5px);
    display: grid;
    gap: 0.5rem;
    grid-template-areas: "coffe app social" "contact app social";
    grid-template-columns: 1.2fr 80px 1fr;
    margin-top: 15px;
  }
  .main-footer footer .support,
  .main-footer footer .contact,
  .main-footer footer .app-link,
  .main-footer footer .social-media {
    background: #262439;
    border-radius: 5px;
    border: none;
    box-shadow: none;
  }
  .light .main-footer footer .support,
  .light .main-footer footer .contact,
  .light .main-footer footer .app-link,
  .light .main-footer footer .social-media {
    background: #ccc;
  }
  .main-footer footer .support {
    grid-area: coffe;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-footer footer .support a {
    padding: 15px 20px;
  }
  .main-footer footer .support a img {
    display: block;
    width: 180px;
    max-width: 100%;
    transition: 0.4s ease-out;
  }
  .main-footer footer .support a img.light,
  .light .main-footer footer .support a img.dark {
    display: none;
  }
  .light .main-footer footer .support a img.light {
    display: block;
  }
  .main-footer footer .support a:hover img {
    filter: grayscale(100%);
  }
  .main-footer footer .contact {
    grid-area: contact;
  }
  .main-footer footer .contact ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .main-footer footer .contact ul li {
    padding: 5px 10px 10px;
  }
  .main-footer footer .contact ul li a {
    font-size: 0.6em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease-out;
  }
  .light .main-footer footer .contact ul li a {
    color: #000;
  }
  .main-footer footer .contact ul li a:hover {
    color: #e85338;
  }
  .main-footer footer .app-link {
    grid-area: app;
    padding: 0 0 10px;
  }
  .main-footer footer .app-link a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 0.65em;
    position: relative;
    display: block;
    padding-top: 100%;
  }
  .light .main-footer footer .app-link a {
    color: #000;
  }
  .main-footer footer .app-link a i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4.5em;
    margin-left: -15px;
    margin-top: -30px;
  }
  .main-footer footer .app-link a i {
    transition: 0.4s ease-out;
  }
  .main-footer footer .app-link a:hover i {
    color: #e85338;
  }
  .main-footer footer .social-media {
    grid-area: social;
    padding: 5px 10px;
    margin: 0;
  }
  .main-footer footer .social-media ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
  }
  .main-footer footer .social-media ul li {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    position: relative;
    transition: all 0.4s ease-out;
  }
  .main-footer footer .social-media ul li i {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 8px;
    color: #fff;
  }
  .light .main-footer footer .social-media ul li i {
    color: #000;
  }
  .main-footer footer .social-media ul li.twitter:hover i,
  .main-footer footer .social-media ul li.facebook:hover i,
  .main-footer footer .social-media ul li.instagram:hover i,
  .main-footer footer .social-media ul li.dribble:hover i {
    color: #fff;
  }
  .main-footer footer .social-media ul li.twitter {
    border: 1px solid #1da1f2;
  }
  .main-footer footer .social-media ul li.twitter:hover {
    background: #1da1f2;
  }
  .main-footer footer .social-media ul li.facebook {
    border: 1px solid #3b5998;
  }
  .main-footer footer .social-media ul li.facebook:hover {
    background: #3b5998;
  }
  .main-footer footer .social-media ul li.instagram {
    border: 1px solid #c13584;
  }
  .main-footer footer .social-media ul li.instagram:hover {
    background: linear-gradient(
      45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    );
  }
  .main-footer footer .social-media ul li.dribble {
    border: 1px solid #ea4c89;
  }
  .main-footer footer .social-media ul li.dribble:hover {
    background: #ea4c89;
  }
  .main-footer footer .social-media p {
    margin-top: 0;
    text-align: center;
    font-size: 1em;
  }

  @media (max-width: 420px) {
    .main-footer footer {
      grid-template-areas: "coffe app" "contact app" "social social";
      grid-template-columns: repeat(2, auto);
    }
    .main-footer .social-media p {
      margin-top: 5px;
    }
  }
}

@media (min-width: 2048px) {
  .big-screen {
    display: block;
  }

  .country-area {
    height: calc(100vh - 45vh);
    margin-top: 100px;
  }
}

@media (min-width: 4000px) {
  .left-column,
  .right-column {
    width: 750px;
  }

  .chartdiv-map {
    width: calc(100vw - 1510px);
  }

  .header-desktop.logo-area {
    padding: 15px;
    max-height: 200px;
    margin: 0 0 20px;
  }

  .news {
    padding: 35px 30px;
  }
  .news .news-header {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  .news .news-header .title {
    font-size: 1.2rem;
  }
  .news-item-container {
    display: flex;
    justify-content: center;
    margin: 30px auto 5px;
  }
  .news-item-container .news-item {
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .news-item-container .news-item .img-box {
    width: 280px;
    height: auto;
    margin: 0 auto 10px;
  }
  .news-item-container .news-item .item-box {
    width: 280px;
    padding: 5px;
  }
  .news-item-container .news-item .item-box h1 {
    font-size: 1.2rem;
    max-height: 100%;
  }
  .news-item-container .news-item h3 {
    font-size: 1.2rem;
  }

  .headlines-container .headlines-item {
    margin-bottom: 20px;
  }
  .headlines-container .headlines-item h2,
  .headlines-container .headlines-item h3 {
    font-size: 1.2rem;
  }

  .advice {
    padding: 10px 10px 10px 50px;
    max-height: 100px;
  }
  .advice .fa-exclamation-triangle {
    font-size: 40px;
  }
  .advice .advice-container h2 {
    font-size: 1.2em;
    line-height: 1.3;
  }
  .advice .advice-container p {
    font-size: 0.9em;
  }
  .advice .advice-container p span {
    font-size: 0.85em;
  }
  .advice .advice-button {
    width: 60px;
    height: calc(100% - 18px);
  }
  .advice .advice-content p {
    top: 95px;
    font-size: 1.3em;
    padding: 15px;
    line-height: 1.5;
  }

  .app .app-container .fa-mobile-alt {
    font-size: 6em !important;
    top: 50%;
    margin-top: -60px;
    right: 10%;
  }
  .app .app-container .install-app span {
    font-size: 1em;
  }
  .app .app-container h1 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    padding: 10px 0 0 20px;
  }
  .app .app-container h1 span {
    color: #ff9502;
  }
  .app .app-container .app-items {
    font-size: 1.5rem;
    padding-left: 80px;
    margin-bottom: 30px;
  }

  .social {
    padding: 10px;
  }
  .social .social-header {
    margin-bottom: 30px;
  }
  .social h2 {
    font-size: 1.7em;
  }
  .social p {
    font-size: 1.5em;
  }
  .social-media {
    margin: 20px 0;
  }
  .social-media ul {
    height: auto;
  }
  .social-media ul li {
    width: 42px;
    height: 42px;
  }
  .social-media ul li i {
    width: 40px;
    height: 40px;
  }
  .social-media p {
    margin-top: 25px;
    font-size: 0.8em;
  }
  .contact ul {
    margin: 10px 0;
  }
  .contact ul li a {
    font-size: 0.7em;
  }

  .nightmode {
    padding: 10px 0;
    margin: 0 0 30px;
    max-height: 80px;
  }
  .nightmode .night-container .lang {
    font-size: 1.4em;
  }

  .world-cases h1,
  .us-cases h1,
  .japan-cases h1 {
    font-size: 1.4em;
    padding: 5px 10px;
  }

  .us-sort,
  .japan-sort {
    border-radius: 4px;
    padding: 0 25px 0 25px;
    margin-bottom: 25px;
  }
  .us-sort .search-input,
  .japan-sort .search-input {
    height: 60px;
    font-size: 1em;
  }
  .us-sort .sort-by,
  .japan-sort .sort-by {
    width: 100px;
    font-size: 0.9em;
    height: 55px;
  }
  .us-sort .sort-by i,
  .japan-sort .sort-by i {
    margin-left: 8px;
  }

  .stc-card-container {
    margin: 20px 0;
  }
  .stc-card-container .card {
    padding: 5px;
  }
  .stc-card {
    font-size: 1.4em;
    line-height: 1.5;
    padding: 15px 0;
  }

  .search-contry .update {
    font-size: 0.8em;
    margin-top: 5px;
  }
  .search-contry .countries-title {
    margin-top: 55px;
    font-size: 0.8em;
  }
  .search-contry .search-input {
    height: 60px;
    font-size: 1em;
  }
  .search-contry .sort-by {
    width: 100px;
    font-size: 0.9em;
    height: 55px;
  }

  .country-area .country-item {
    height: 80px;
  }
  .country-area .country-item .item-flag {
    width: 40px;
  }
  .country-area .country-item .item-details .details-title {
    font-size: 1.4em;
  }
  .country-area .country-item .item-details .details-stats {
    font-size: 1em;
  }
}
